venv
.pytest_cache
/tests/__pycache__
/api/__pycache__
__pycache__/*
instance
database.db
.coverage

# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environment directories
venv/
env/

# Ignore environment variable files
.env

# Ignore node_modules directory
node_modules/

# Ignore build directories
build/
dist/

# Ignore the api/src/ directory
api/src/